<div>
    <header>
        <div class="pull-left">
            <span class="clickable" ng-click="currentView = 'Data workflow'">{{topology.name}}</span>
            <span class="dropdown clickable">
                <small class="dropdown-toggle">
                    {{currentView}}
                    <span ng-show="!validationReport.isEmpty()" class="badge" style="color: #5dade2;background-color: #fff;">!</span>
                    <b class="caret"></b>
                </small>
                <ul class="dropdown-menu">
                    <li><a ng-click="currentView = 'Data workflow'">Data workflow</a></li>
                    <li>
                        <a ng-click="currentView = 'Messages'" ng-show="!validationReport.isEmpty()">
                            Messages <span class="label label-warning">{{validationReport.size()}}</span>
                        </a>
                    </li>
                    <li><a ng-click="currentView = 'Informations'">Informations</a></li>
                </ul>
            </span>
        </div>

        <div class="pull-right">
            <i class="fa fa-cloud-upload fa-2x clickable" ng-click="launch('local')" style="margin-right: 40px" tooltip-placement="left" tooltip="Deploy"></i>
            <i class="fa fa-undo fa-2x clickable" ng-click="revert()" tooltip-placement="left" tooltip="Revert changes"></i>&nbsp;
            <i class="fa fa-save fa-2x clickable" ng-click="save()" tooltip-placement="left" tooltip="Save"></i>&nbsp;
        </div>
    </header>

    <pipeline-data-workflow ng-show="currentView == 'Data workflow'"></pipeline-data-workflow>

    <div ng-show="currentView == 'Messages'" class="container-fluid">
        <div class="bs-callout bs-callout-{{message.level.toLowerCase()}}" ng-repeat="message in validationReport.messages">
            <p>{{message.text}}</p>
        </div>
    </div>

    <div ng-show="currentView == 'Informations'" class="container-fluid">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="topology.name" class="form-control" ng-required="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea ng-model="topology.description" class="form-control" rows="5" ng-required="false"/>
                </div>
            </div>
        </form>
    </div>

</div>