<div>
    <header>
        <form class="form-inline" role="form">
            <div class="form-group">
                <click-to-edit model="topology.name" />
                <!--<input id="topology-name-input" class="form-control input-lg" ng-model="topology.name" placeholder="Topology's name"/> -->
            </div>


            <div class="pull-right">
                <i class="fa fa-cloud-upload fa-2x clickable" ng-click="launch('local')" style="margin-right: 40px" tooltip-placement="left" tooltip="Deploy"></i>
                <i class="fa fa-undo fa-2x clickable" ng-click="revert()" tooltip-placement="left" tooltip="Revert changes"></i>&nbsp;
                <i class="fa fa-save fa-2x clickable" ng-click="save()" tooltip-placement="left" tooltip="Save"></i>&nbsp;
            </div>
        </form>
    </header>



    <div class="container-fluid">
        <div class="col-xs-12 col-sm-6 col-md-8" style="padding-right:0px;">
            <div id="add-component-panel" class="ng-hide" />
            <div id="jsplumb-container" class="jsplumb-container">
                <div class="validation-report-panel">
                    <span class="label label-warning clickable" ng-if="!validationReport.isEmpty()" data-toggle="collapse" data-target="#validation-report-messages">
                        {{validationReport.warningCount}} warnings, {{validationReport.errorCount}} errors
                        <i class="fa fa-warning"></i>
                    </span>
                    <div id="validation-report-messages" class="collapse validation-report-messages bg-warning">
                        <div ng-repeat="message in validationReport.messages">
                            {{message.level}} : {{message.text}}
                        </div>
                    </div>
                </div>

                <component model="component" ng-repeat="component in topology.components" ng-click="editComponent(component)"></component>
            </div>
        </div>

        <div class="col-xs-6 col-md-4 component-list" style="padding-left:0px;">
            <accordion close-others="false">
                <accordion-group ng-repeat="(category, metadataList) in metadataByCategories" heading="{{category}}">
                    <ul class="list-group">
                        <li ng-repeat="metadata in metadataList"
                            id="{{metadata.id.toId()}}" metadata-id="{{metadata.id}}" class="list-group-item"
                            popover-placement="bottom" popover-trigger="mouseenter" popover="{{metadata.description}}">
                            {{metadata.name}}
                        </li>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
    </div>

</div>