<div>
	<form class="form-inline" role="form" style="margin: 10px">
		<div class="form-group">
			<input id="topology-name-input" class="form-control input-lg" ng-model="topology.name" placeholder="Topology's name"/>
		</div>

		<div class="pull-right">
			<button id="delete-topology" class="btn btn-danger" ng-click="remove()">
				<i class="fa fa-trash-o fa-2x"></i>
			</button>
			<button id="revert-change" class="btn" ng-click="revert()">
				<i class="fa fa-undo fa-2x"></i>
			</button>
			<button id="save-topology" class="btn btn-primary" ng-click="save()">
				<i class="fa fa-save fa-2x"></i>
			</button>
		</div>
	</form>

	<div id="jsplumb-container" class="jsplumb-container">
		<div class="diagram-toolbar btn-toolbar pull-right" role="toolbar">
			<!--  Components : STREAM_SOURCE-->
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
						Stream source <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li ng-repeat="description in streamSourcesDescriptions"><a ng-click="addNewComponent(description)">{{description.name}}</a></li>
					</ul>
				</div>
			</div>

			<!-- Components : LEARNER, NO_TYPE, ANALYTICS-->
			<div class="btn-group">
				<div class="btn-group">
					<div class="btn-group">
						<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
							Learner <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="description in learnersDescriptions"><a ng-click="addNewComponent(description)">{{description.name}}</a></li>
						</ul>
					</div>

					<div class="btn-group">
						<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
							Analytics <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="description in analyticsDescriptions"><a ng-click="addNewComponent(description)">{{description.name}}</a></li>
						</ul>
					</div>

					<div class="btn-group">
						<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
							Other <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="description in othersDescriptions"><a ng-click="addNewComponent(description)">{{description.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<component model="component" ng-repeat="component in topology.components" ng-click="editComponent(component)"></component>
	</div>
</div>