<div class="col-xs-6">
    <div class="chart-container">
        <div class="chart-title">{{configuration.name}}</div>
        <div class="chart"></div>
        <div class="chart-value" ng-show="currentMean != null">
            <small style="font-size:50%">
                <div>Mean : {{currentMean}}</div>
                <div>σ : {{currentStd}}</div>
                <div ng-show="currentMissing !=null && currentMissing > 0">Missing : {{currentMissing}}%</div>
            </small>
        </div>
    </div>
</div>