<div>
    <header>
        <span>{{cluster.name}} cluster</span>

        <span class="pull-right btn-group">
            <button type="button" class="btn btn-{{stateCss}}">
                {{cluster.status.state}}
            </button>
            <button type="button" class="btn btn-{{stateCss}} dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <span class="dropdown-arrow dropdown-arrow-inverse"></span>
            <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
                <li ng-class="{'disabled' : !cluster.isRunning()}">
                    <a ng-click="cluster.stop()">Stop {{pipeline.name}}</a>
                <li ng-repeat="pipeline in pipelines" ng-class="{'disabled' : !cluster.isReadyToDeploy()}">
                    <a ng-click="deploy(pipeline)">Deploy {{pipeline.name}}</a>
                </li>
            </ul>
        </span>
    </header>

    <div class="container-fluid">
        <div class="row" ng-if="cluster.isRunning()">
            <pipeline-latency-viz cluster="clusterId" />
        </div>
    </div>

</div>

