<div>
    <h4>{{stream.metadata.name}}</h4>

    <div class="form-group" ng-repeat="(componentName, topologyName) in stream.mappedFeatures">
        <label>{{componentName}}</label>
        <select class="form-control"
                ng-model="stream.mappedFeatures[componentName]"
                ng-options="value as value for value in topology.retrieveAvailableFeatures(component, stream)"
                ng-required="true">
        </select>
    </div>

    <div class="form-group" ng-repeat="(componentName, features) in stream.selectedFeatures">
        <label>{{componentName}}</label>
            <select id="{{stream.metadata.name.removeSpaces()}}-mapping" class="form-control" multiple
                    ng-model="stream.selectedFeatures[componentName]"
                    ng-required="true"
                    ng-options="value as value for value in topology.retrieveAvailableFeatures(component, stream)">
            </select>
    </div>
</div>