<div>
    <h4>{{stream.metadata.name}}</h4>

    <div class="form-group" ng-repeat="(componentName, topologyName) in stream.mappedFeatures">
        <label>{{componentName}}</label>
        <input id="named-feature-{{stream.metadata.name.removeSpaces()}}-{{componentName.removeSpaces()}}" class="form-control" ng-model="stream.mappedFeatures[componentName]">
    </div>

    <div class="form-group" ng-repeat="(componentName, features) in stream.selectedFeatures">
        <label>{{componentName}}</label>
        <input tags values="features" />
    </div>
</div>