<div class="col-xs-6">
    <div id="correlations_plot" class="chart-container">
        <div class="chart-title">{{componentname}}</div>
        <svg width="{{size}}" height="{{size}}" style="display: block; margin: auto;">
            <g>
                <rect ng-repeat="(combination, correlation) in correlations" ng-click="show_correlation_history(combination)"
                      transform="{{correlation.position}}" width="{{correlation.size}}" height="{{correlation.size}}"
                      style="cursor: pointer; fill-opacity: {{correlation.opacity}}; fill: {{correlation.color}};"
                      tooltip-append-to-body="true" tooltip="{{correlation.tooltip}}">
                </rect>
            </g>
        </svg>
    </div>

    <div id="correlation_history" style="display: none">
        <span ng-click="show_correlations_plot()" style="position: absolute; right: 5px; cursor: pointer;">✖</span>
        <time-series-chart control="timeSeries"></time-series-chart>
    </div>

</div>