<div class="col-md-3">
    <div id="distributions_plot" class="chart-container">
        <div class="chart-title">{{componentname}}</div>
        <svg ng-attr-width="{{plot_size}}" ng-attr-height="{{plot_size}}" style="margin: auto; display: block;">
            <g>
                <!-- Diagonal : 1D histograms -->
                <g ng-repeat="hist in histograms" ng-attr-transform="{{hist.transform}}">
                    <rect ng-repeat="bin in hist.bins" style="fill: #3498db"
                          ng-attr-x="{{bin.x}}" ng-attr-y="{{bin.y}}" ng-attr-width="{{bin_size}}" ng-attr-height="{{bin.height}}"
                          tooltip-append-to-body="true"  ng-attr-tooltip="{{bin.tooltip}}">
                    </rect>
                    <rect style="fill: none; stroke: #eaeaea" x="0" y="0" ng-attr-height="{{cell_size}}" ng-attr-width="{{cell_size}}"></rect>
                    <text text-anchor="middle" ng-attr-x="{{cell_size / 2}}" y="10" font-size="12" font-family="Lato,Helvetica,Arial,sans-serif">{{hist.feature}}</text>
                </g>

                <!-- Lower diagonal : Samples -->
                <g ng-repeat="data in samples_2D" ng-attr-transform="{{data.transform}}">
                    <circle ng-repeat="sample in data.samples" style="fill: #3498db; fill-opacity: 0.7;" ng-attr-cx="{{sample.x}}" ng-attr-cy="{{sample.y}}" r="3"></circle>
                    <rect style="fill: none; stroke: #eaeaea" ng-attr-x="0" ng-attr-y="0" ng-attr-height="{{cell_size}}" ng-attr-width="{{cell_size}}"></rect>
                </g>

                <!-- Upper diagonal : 2D histograms-->
                <g ng-repeat="hist in histograms_2D" ng-attr-transform="{{hist.transform}}">
                    <rect ng-repeat="bin in hist.bins" style="fill: #3498db; fill-opacity: {{bin.opacity}}"
                          ng-attr-x="{{bin.x}}" ng-attr-y="{{bin.y}}" ng-attr-width="{{bin_size}}" ng-attr-height="{{bin_size}}"
                          tooltip-append-to-body="true" ng-attr-tooltip="{{bin.tooltip}}">
                    </rect>
                    <rect style="fill: none; stroke: #eaeaea" ng-attr-x="0" ng-attr-y="0" ng-attr-height="{{cell_size}}" ng-attr-width="{{cell_size}}"></rect>
                </g>
            </g>
        </svg>
    </div>

</div>